body{
    font-family: Lucida Grande, arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
#cities{
    width: 500px;
    position: relative;
}
.state{
    padding: 5px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 5px 20px;
}
ul li{
    padding: 5px 15px;
}
.hidden {
    display: none;
}
.right_arrow, .down_arrow{
    display: inline-block;

    cursor: pointer;
}
.right_arrow {
    width: 0;
    height: 0;
    margin: 0 11px 0 10px;
    border-top: 6px solid transparent;
    border-left: 6px solid black;
    border-bottom: 6px solid transparent;
}
.down_arrow{
    width: 0;
    height: 0;
    margin: -10px 5px 0 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
}

.checkbox{
    width: 15px;
    height: 15px;
    margin: 0 10px 0 5px;
    padding: 0;
    display: inline-block;
    position: relative;
}
.checkbox label {
    cursor: pointer;
    position: absolute;
    margin-left: -20px;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    top: 0;
    left: 20px;
}

.checkbox label:after {
    content: '';
    opacity: 0;
    width: 7px;
    height: 4px;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover::after {
    opacity: 0.5;
}

.checkbox input[type="checkbox"]{
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label:after{
    opacity: 1;
}

/*semi checked*/
.checkbox_semi label:after{
    opacity: 1;
    width: 8px;
    height: 0;
    top: 6px;
    left: 2px;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
}

#result_btn{
    width: 120px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid black;
    background: white;
}